.about-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #121212;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.about-section ul {
    list-style: none;
    padding: 0;
}

.about-section li {
    font-size: 1.1rem;
    margin: 10px 0;
}

.team-profiles {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.team-member {
    text-align: center;
    max-width: 200px;
    background-color: #3c3c3c;
    padding: 75px;
    border-radius: 15px;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: scale(1.1);
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cta {
    padding: 60px 20px;
    text-align: center;
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about-content {
    max-width: 1000px;
    background-color: #3c3c3c;
    border-radius: 25px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.about-content:hover {
    transform: scale(1.1);
}
