.contact-info {
    padding: 60px 20px;
    text-align: center;
    background-color: #1e1e1e; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.contact-info a {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.contact-details {
    padding: 10px;
    background-color: #3c3c3c;
    border-radius: 15px;
}

.contact-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../images/contact.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.contact-form {
    padding: 40px 20px;
    background-color: #2c2c2c;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #e0e0e0;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: #e0e0e0;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #bbb;
}

.contact-form button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: white;
    background-color: #694cc0;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #5a3d9b;
    transform: scale(1.1);
}
